.idea
generated/
build/
site/node_modules/
site/build/
site/.yarn/*
site/!next-env.d.ts
apis/internal/
apis/generated/

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
site/!.yarn/cache
#.pnp.*

.terraform.lock.hcl
terraform.tfplan
bazel-bin
bazel-out
bazel-testlogs
bazel-project-planton
Pulumi.*.yaml
!Pulumi.yaml
test-*.log
.cursor/workspace/
cursor/
.git-ignored/
apis/project/planton/provider/kubernetes/workload/clickhousekubernetes/v1/iac/pulumi/pulumi
_cursor/
_a-gitignored-workspace
