apiVersion: kubernetes.project-planton.org/v1
kind: KubernetesKeycloak
metadata:
  name: test-keycloak
  labels:
    environment: test
spec:
  container:
    resources:
      requests:
        cpu: 50m
        memory: 100Mi
      limits:
        cpu: 1000m
        memory: 1Gi
  ingress:
    is_enabled: false
    dns_domain: ""

