apiVersion: kubernetes.project-planton.org/v1
kind: KubernetesArgocd
metadata:
  name: test-argocd
spec:
  container:
    resources:
      requests:
        cpu: 50m
        memory: 100Mi
      limits:
        cpu: 1000m
        memory: 1Gi

