apiVersion: kubernetes.project-planton.org/v1
kind: KubernetesGrafana
metadata:
  name: test-grafana
spec:
  container:
    resources:
      requests:
        cpu: 50m
        memory: 100Mi
      limits:
        cpu: 1000m
        memory: 1Gi
  ingress:
    enabled: false
    dns_domain: ""

